**/build
**/bin/
**/gen/
**/.gradle
**/local.properties
**/.idea/workspace.xml
**/.idea/tasks.xml
*.iws
*.properties
*~
*.lock
*.DS_Store
*.swp
*.out
*.class
*.apk
*.ap_
*Thumbs.db
*.classpath
*.project
*.jar
*.log
